<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="css/dataTables.m.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <title>Fuck</title>
</head>
<body id="container">
<section id="wrapper">
    <section id="result">
        <section id="table_sec">
            <table id="table" class="display" cellspacing="10" width="100%">
            </table>
        </section>
        <section id="action"><<</section>
    </section>
</section>
<section id="background"/>
</body>
<script src="main.js"></script>
</html>
